<?php

define('S3_BUCKET', 'some.bucket.name');
define('S3_OBJECT', 'some.object.key');


$config = array(
	'accessKey' => '',
	'secretKey' => ''
);

$base = dirname(dirname(dirname(dirname(__FILE__))));

require_once $base.'/vendor/doctrine2-common/lib/Doctrine/Common/ClassLoader.php';
$loader = new \Doctrine\Common\ClassLoader('Zend', realpath($base.'/vendor/zend-framework/library'));
$loader->setNamespaceSeparator('_');
$loader->register();

$loader = new \Doctrine\Common\ClassLoader('Doctrine\Common', realpath($base.'/vendor/doctrine2-common/lib'));
$loader->register();

$loader = new \Doctrine\Common\ClassLoader('Sirprize\Amazon', realpath($base.'/lib'));
$loader->register();

$loader = new \Doctrine\Common\ClassLoader('Sirprize\Rest', realpath($base.'/vendor/sirprize-rest/lib'));
$loader->register();


set_include_path(
	implode(
		PATH_SEPARATOR,
		array(
    		realpath($base.'/vendor/zend-framework/library'), // path to zend framework (make sure require's work in zend lib)
		)
	)
);

date_default_timezone_set('UTC');


function getLog($name = '')
{
	$logWriter = new Zend_Log_Writer_Stream(dirname(dirname(dirname(dirname(__FILE__)))).'/example/_logs/'.gmdate('Ymd').'-'.$name.'.log');
	$log = new Zend_Log($logWriter);
	$filter = new Zend_Log_Filter_Priority(3);
	$log->addFilter($filter);
	return $log;
}